*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	cursor: default;
}
.question{
	margin: 90px auto;
	background-image: url(./icons/df1l2f9-a824113d-baf7-4bac-bd4c-eaa0c16fca8c.png);
	background-size:162px ;
	max-width: 500px;
	height: 230px;
	border: 2px solid black;
}
h1{
	text-align: center;
}
form{
	width: 60px;
	text-align: center;
	margin: 25px auto;
	font-size: 25px;
	font-style: italic;
}
form:hover,input:hover{
	cursor: pointer;
}